# ========================== 공통 ==========================
# IDE
.idea/
.vscode/
*.iml

# Python
__pycache__/
*.pyc
*.pyo
*.log

# 환경 파일
.env
.env.*

# ========================== Backend ==========================
/backend/venv/
/backend/data/
/backend/logs/
/backend/parse/
/backend/resData/

# ========================== Frontend (Flutter) ==========================
# Dart/Flutter
/frontend/.dart_tool/
/frontend/build/
/frontend/.metadata
/frontend/.flutter-plugins-dependencies

# Android
/frontend/android/.gradle/
/frontend/android/local.properties
/frontend/android/key.properties
*.jks

# Misc
.DS_Store
app.*.symbols
app.*.map.json
